@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0EDEE;
  --foreground: #0A090C;
  --primary: #07393C;
  --accent: #2C666E;
  --accent-light: #90DDF0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A090C;
    --foreground: #F0EDEE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3 {
    font-family: var(--font-header), serif;
}