@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --foreground: #00000080;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3 {
    font-family: var(--font-header), serif;
}